<div class="container mt-auto">
    <footer class="py-3 my-4">
        <div class="container d-flex justify-content-around flex-row">
            <div class="container d-flex justify-content-start flex-column">
                <p class="text-body-secondary"><b>PDMS</b></p>
                <p class="text-body-secondary text-wrap">Smarter, faster parcel operations.</p>
            </div>
            <div class="container d-flex justify-content-start flex-column">
                <p class="text-body-secondary"><b>About Us</b></p>
                <p class="text-body-secondary text-wrap">We power delivery teams with intuitive tools for managing drivers, tracking packages and unlocking performance insights across your logistics network.</p>
            </div>
            <div class="container d-flex justify-content-start flex-column">
                <p class="text-body-secondary"><b>Contact Us</b></p>
                <p class="text-body-secondary m-0">Email: contact&#64;pdms.local</p>
                <p class="text-body-secondary m-0">Phone: 023214234</p>
                <p class="text-body-secondary m-0">Address: Clayton, Victoria, Australia</p>
            </div>
        </div>
    </footer>
</div>