<div class="container w-50 d-flex flex-column align-items-center mt-5">
    <!-- <% if (locals?.newUser) { %>
        <div class="container w-90 d-flex flex-column align-items-center m-2">
            <p>Thank you for signing up. Please log in to your account!</p>
        </div>
    <% } %> -->
    <h1 class="h3 mb-3 font-weight-normal">Log in</h1>
    <form class="d-flex flex-column w-75 justify-content-center">
        <div class="form-group mb-3">
          <label for="username">Username</label>
          <input [(ngModel)]="username" type="text" class="form-control" name="username" id="username" placeholder="Enter your username" minlength="6" pattern="^[a-zA-Z0-9]+$" required>
        </div>
        <div class="form-group mb-3">
            <label for="password">Password</label>
            <input [(ngModel)]="password" type="password" class="form-control" required name="password" id="password" placeholder="Enter your password" minlength="5" maxlength="10">
        </div>
        <button (click)="login()" [disabled]="!inputValidator()" type="submit" class="btn btn-primary">Log in</button>
    </form>
    <p class="block">Not a user? <a routerLink="../signup">Sign up</a></p>
</div>